<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Some Website's name</title>
    
    </head>
    <body>
        {{pagetitle}}
        {{> header}}
        <p>Some projects that I've made, aren't they nice? </p>
        
        
    </body>
    

</html>